.row {
    display: flex;
    flex-direction: row;
}

.numberField {
    max-width: 100%;
}

.formDiv {
    width: 50%;
}

.dates {
    padding-top: 30px;
}

#allegiancesSelect {
    width: 150px;
}

#labels {
    display: flex;
    flex-direction: column;
}

.event {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}


img {
    max-height: 250 px;
}

#button {
    width: 100%;
    display: flex;
    justify-content: center !important;
    margin-top: 10px;
}