header {
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
}

header h1 {
    white-space: nowrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

#flagList {
    margin-left: auto;
    text-align: right;
}